* {
    width: 100%;
}
main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 95vw;
}
.theme-group-name {
    color: #222;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-top: 1em;
}
.expandable-headlines {
    grid-column-start: 2;
    grid-column-end: 3;
}
.expandable-headlines li {
    list-style-type: none;
    /* white-space: nowrap; */
    overflow: clip;
    resize: none;
    text-overflow: clip;
    display: block;
    height: 1em;
    width: auto;
    color: darkred;
}
